@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: url(img/bg.jpeg);
   background-size: cover;
   color: #222831;
   font-family: 'Poppins', sans-serif;
}

.container {
   background-color: #eee;
   border-radius: 5px;
   position: relative;
   margin: 3rem auto;
   max-width: 400px;
   text-align: center;
   overflow: hidden;
}



/* => Header */
header {
   background-color: #00adb5;
   padding: 8px;
}

header h2 {
   font-size: 1.7rem;
}



/* => Main */
main {
   padding: 20px;
}

main img {
   width: 140px;
   margin-bottom: .5rem;
}

main .pxvh {
   display: none;
}

main select {
   width: 80%;
   cursor: pointer;
   margin: .6rem 0 1rem;
}

main .box {
   position: relative;
   width: 80%;
   margin: auto;
}

main label {
   position: absolute;
   left: 0;
   bottom: 2.7rem;
   font-size: .9rem;
}

main input,
select {
   font-size: .9rem;
   height: 1.8rem;
   width: 100%;
   outline: none;
   margin-bottom: .8rem;
   padding: 0 .2rem;
}



/* => Footer */
footer {
   margin-top: 30px;
   background-color: #00adb5;
   font-size: .8rem;
   padding: 10px;
}




/* => Media Queries */
@media (max-width: 410px) {
   .container {
      width: 95%;
      border-radius: 3px;
   }

   main {
      padding: 10px;
   }
}